.certificates {
  display: flex;
  flex-direction: column;
  list-style: square;

  li {
    margin: 1rem 0;

    .title {
      font-size: 1.25rem;
      font-weight: 700;
      margin: 0;
      margin-bottom: .5rem;
    }

    .institution {
      font-size: 1rem;
      font-weight: 400;
    }

    .certificate {
      margin-top: .5rem;
      font-size: 1rem;
      font-weight: 700;

      a {
        font-weight: 400;
        color: #FFF;
        text-decoration: underline;

        &:hover {
          color: #6959CD;
          text-decoration: underline;
        }
      }
    }
  }
}