.header {
  display: grid;
  grid-template-areas:
    "photo title"
    "photo information"
  ;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;

  .photo {
    grid-area: photo;
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin: 0 auto;
  }

  .title {
    grid-area: title;
    font-family: 'Bebas Neue', cursive;
    text-align: start;

    span {
      font-family: 'Bebas Neue', cursive;
    }
  }

  .information {
    grid-area: information;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: .5rem;
      font-size: 1.125rem;
    }
  }
}