.header {
  display: grid;
  grid-template-areas:
    "photo title"
    "photo information"
    "photo social";
  align-items: center;
  justify-content: center;
  column-gap: 1rem;

  .photo {
    grid-area: photo;
    width: 300px;
    border-radius: 15%;
    border: 2px solid $red-color;
  }

  .title {
    grid-area: title;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

  }

  .information {
    grid-area: information;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }

  .social {
    grid-area: social;

    i {
      font-size: 20px;
      margin-right: 1rem;
    }
  }
}