.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .title {
    font-family: 'Bebas Neue', cursive;
    text-align: center;

    span {
      font-family: 'Bebas Neue', cursive;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: .5rem;
      font-size: 1.125rem;
    }
  }
}