.portfolio {
  display: flex;
  flex-direction: column;
  list-style: square;

  li {
    margin-bottom: 1rem;

    .title {
      font-size: 1.25rem;
      font-weight: 700;

      .description {
        font-size: .875rem;
        font-weight: 400;
      }
    }

    .repository {
      font-size: 1rem;
      font-weight: 700;

      a {
        font-weight: 400;
        color: #FFF;
        text-decoration: underline;

        &:hover {
          color: #6959CD;
          text-decoration: underline;
        }
      }
    }
  }
}