.acordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  border: 2px solid $red-color;
  border-radius: 1rem;
  transition: .5s;

  &:hover {
    background-color: $red-color;
    border-color: $red-color;
  }

  .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      text-align: start;
    }

    i {
      transition: .5s;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
}

.acordeon.open {
  background-color: $red-color;
  border-color: $red-color;

  .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
  }

  .trigger {
    i {
      transform: rotate(-180deg);
    }
  }
}