/* Colors */
$red-color: #B22222;
$light-color: #FFDEAD;

* {
  box-sizing: border-box;
  font-family: 'open Sans', sans-serif;
  color: $light-color;
}

body {
  background-color: #000;
}

.main {
  margin-top: 1rem;
  border: 2px solid $red-color;
  border-radius: .5rem;
  padding: 1rem;
}