.portfolio {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    margin-bottom: 1rem;
}

.portfolio .title {
    font-size: 1.250rem;
}

.portfolio .title .description {
    font-size: .875rem;
    font-weight: 500;
}

.portfolio .repositorio {
    font-size: 1rem;
    font-weight: 700;
}

.portfolio .repositorio a {
    font-size: 1rem;
    font-weight: 400;
}

.portfolio li .title.github::before {
    content: "";
    display: inline-block;
    width: 1.250rem;
    height: 1.250rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/github.svg');
    margin-right: .5rem;
}